<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

	<targets>
		<!-- ========== 全部日志总文件 ========== -->
		<!-- <target xsi:type="File" name="fileAll"
				fileName="${basedir}/logs/All_${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				archiveAboveSize="20480000"/> -->

		<!-- ========== 分等级独立文件 ========== -->
		<target xsi:type="File" name="fileTrace"
				fileName="${basedir}/logs/Trace_${shortdate}.log"
				layout="●${longdate}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day" maxArchiveFiles="15" archiveAboveSize="10485760"/>

		<target xsi:type="File" name="fileDebug"
				fileName="${basedir}/logs/Debug_${shortdate}.log"
				layout="●${longdate}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day" maxArchiveFiles="15" archiveAboveSize="10485760"/>

		<target xsi:type="File" name="fileInfo"
				fileName="${basedir}/logs/Info_${shortdate}.log"
				layout="●${longdate}|${logger}|${message}"
				archiveEvery="Day" maxArchiveFiles="30" archiveAboveSize="20480000"/>

		<target xsi:type="File" name="fileWarn"
				fileName="${basedir}/logs/Warn_${shortdate}.log"
				layout="●${longdate}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day" maxArchiveFiles="30" archiveAboveSize="20480000"/>

		<target xsi:type="File" name="fileError"
				fileName="${basedir}/logs/Error_${shortdate}.log"
				layout="●${longdate}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day" maxArchiveFiles="90" archiveAboveSize="20480000"/>

		<target xsi:type="File" name="fileFatal"
				fileName="${basedir}/logs/Fatal_${shortdate}.log"
				layout="●${longdate}|${logger}|${message} ${exception:format=tostring}"
				archiveEvery="Day" maxArchiveFiles="90" archiveAboveSize="20480000"/>
	</targets>

	<rules>
		<!-- 总日志：记录全部等级 -->
		<!--<logger name="*" minlevel="Trace" writeTo="fileAll"/>-->

		<!-- 每个等级单独输出到对应文件；level="Trace"代表只接收Trace，不接收更高级别 -->
		<logger name="*" level="Trace" writeTo="fileTrace"/>
		<logger name="*" level="Debug" writeTo="fileDebug"/>
		<logger name="*" level="Info" writeTo="fileInfo"/>
		<logger name="*" level="Warn" writeTo="fileWarn"/>
		<logger name="*" level="Error" writeTo="fileError"/>
		<logger name="*" level="Fatal" writeTo="fileFatal"/>
	</rules>
</nlog>
