<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="logs/nlog-internal.log">

	<targets>
		<!--控制台输出-->
		<target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

		<!--文件日志，按天滚动-->
		<target name="file" xsi:type="File"
				fileName="logs/collect_${date:format=yyyyMMdd}.log"
				archiveFileName="logs/archive/collect_{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>
